# Notebook for the exercices from the Machine Learning A-Zâ„¢ course
### Hands-On Python & R In Data Science
https://www.udemy.com/machinelearning/

## Section 1 - Welcome to the course!
### Class 1 - Applications for Machine Learning

1. <strong>Facebook Facial recognition </strong> : algorithms tags someone automatically
2. <strong>Kinect</strong>: You can play games. (Uses Random Forest)
3. <strong>Virtual reality headsets</strong>: ML monitor your actions, you turn your head and the picture moves 
4. <strong>Voice recognition or Speech-to-text</strong>
5. <strong>Robodog</strong>: The dogs learn how to walk, reinforcement learning so the dogs learn how to walk on their own
6. <strong>Ads</strong>: Facebook
7. <strong>Recommender systems</strong>: Amazon, Netflix
8. <strong>Medicine</strong>: to save lives
9. <strong>Space</strong>: to recognize certain areas of the world
10. <strong>Mars</strong>: explore new territories

## Section 2 - Part 1 - Data Preprocessing

In [4]:
# Data Preprocessing Template

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [5]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes